#ColorButton {
  color: #fff;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  // font-weight: 500;
  line-height: 16px;
  padding: 6px 16px;
  &[color="primary"] {
    background-color: $color-primary;
  } 
  &[color="secondary"] {
    background-color: $color-secondary;
  } 
}